.about {
  position: relative;

  @media (min-width: $lg) {
    margin-bottom: 2rem;
  }

  &__title {
    position: absolute;
    text-align: center;
    left: 1rem;
    top: 0;
    transform: translateY(-50%);
    font-size: 2.3rem;
    line-height: 1;
    font-weight: 700;
    margin: 0;

    @media (min-width: $sm) {
      left: 3rem;
      font-size: 2.6rem;
    }
    @media (min-width: $md) {
      left: 6rem;
      font-size: 3rem;
    }
    @media (min-width: $lg) {
      left: 50%;
      max-width: $xl;
      font-size: 3.3rem;
      transform: translate(-50%, -50%);
    }
  }
}
