@font-face {
  font-family: LiberationSansBold;
  src: url("fonts/LiberationSans-Bold.ttf"); }
@font-face {
  font-family: LiberationSansRegular;
  src: url("fonts/LiberationSans-Regular.ttf"); }
a {
  text-decoration: none;
  color: #c7c7c7; }
  a:hover {
    color: #e0e0e0; }
  a.active {
    color: #e0e0e0; }

header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aea7ff+0,282c34+100 */
  background: linear-gradient(180deg, #aea7ff 0%, #282c34 100%);
  background: linear-gradient(180deg, #aea7ff 0%, #aea7ff 10%, #282c34 100%); }
  header nav {
    font-family: 'arial';
    font-size: 1.3rem; }
    header nav ul {
      max-width: 23rem;
      margin: 0 auto;
      padding: 1rem 0;
      list-style: none outside;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      justify-content: space-evenly; }
      header nav ul li a {
        font-family: LiberationSansRegular, serif, Arial, Helvetica, sans-serif;
        display: inline-block;
        background-color: #282C34;
        padding: 0.66rem 1rem; }
  header .greeting {
    padding: 2rem 0 4rem;
    margin: 0 auto;
    font-size: 1.33rem;
    max-width: 16rem; }
    header .greeting .hi {
      font-family: LiberationSansBold, Arial, Helvetica, sans-serif;
      line-height: 1.3; }
      header .greeting .hi span {
        background-color: #282C34;
        color: #e0e0e0;
        display: inline;
        padding: 0.45rem;
        -webkit-box-decoration-break: clone;
        -moz-box-decoration-break: clone;
        -ms-box-decoration-break: clone;
        box-decoration-break: clone; }

main {
  height: 100%;
  color: #e0e0e0;
  background-color: #282C34;
  padding-bottom: 2rem; }
  main .deck {
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-evenly; }
  main .card {
    box-shadow: 0 15px 24px rgba(174, 167, 255, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    padding: 0.66rem;
    margin: 0 10px 20px 10px;
    background-color: #3f4552;
    font-family: LiberationSansRegular, serif, Arial, Helvetica, sans-serif;
    text-align: justify; }

h2, h3 {
  margin-top: 0;
  padding: 10px 0;
  text-align: center;
  font-family: LiberationSansBold, Arial, Helvetica, sans-serif; }

footer {
  text-align: center;
  background-color: #aea7ff; }
  footer h3 {
    font-size: 1.55rem; }
  footer p {
    margin-bottom: 0;
    padding-bottom: 10px;
    font-family: LiberationSansRegular, serif, Arial, Helvetica, sans-serif;
    font-size: 1.33rem; }
  footer a {
    color: #282C34;
    text-decoration: underline; }

@media screen and (min-width: 480px) {
  /* BIG phone size */
  header .greeting {
    padding: 2rem 0 5rem;
    margin: 0 15%;
    font-size: 1.55rem;
    min-width: 18rem; }

  main .deck {
    flex-direction: column; } }
@media screen and (min-width: 640px) {
  /* tablet size */
  header .greeting {
    padding: 1rem 0 6rem;
    margin: 0 20%;
    font-size: 1.75rem;
    min-width: 20rem; } }
@media screen and (min-width: 900px) {
  /* desktop size */
  header .greeting {
    padding: 2% 0 8rem;
    margin: 0 30%;
    font-size: 1.85rem;
    min-width: 39rem;
    max-width: 43rem; }

  main .deck {
    flex-direction: row; }
  main .card {
    width: 29%; } }

/*# sourceMappingURL=s.css.map */
