footer {
  text-align: center;
  background-color: $card-background;

  .licence {
    margin: 0;
    padding: 1rem 2rem;
    font-family: $font-text;
    font-size: 0.9rem;

    img {
      opacity: 0.4;
    }

    a {
      border: 0;
      &:hover {
        color: $primary-color;
      }
    }
  }
}
