footer {
  text-align: center;
  background-color: $primary-color;

  .licence {
    p {
      margin-bottom: 0;
      padding-bottom: 10px;
      font-family: $font-stack-text;
      font-size: 1.33rem;
    }
    a {
      color: $background-color;
      text-decoration: underline;
    }
  }
}
